<%= form_with(model: studentsform, local: true) do |form| %>
  <% if studentsform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(studentsform.errors.count, "error") %> prohibited this studentsform from being saved:</h2>

      <ul>
      <% studentsform.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :regno %>
    <%= form.number_field :regno %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
